{% extends "base.html" %}
{% load pages_tags blog_tags mezzanine_tags keyword_tags i18n staticfiles %}
{% block meta_keywords %}
    magazine, spécialiste, papeterie, fournitures, consommables, loisirs créatifs, innovation, actualités
{% endblock %}
{% block meta_description %}
    Le magazine PNP Papetier vous informe sur toute l'actualité du secteur de la papeterie, fournitures de bureau, consommables et loisirs créatifs. 
{% endblock %}
{% block meta_title %}PNP Papetier, magazine spécialiste de la papeterie{% endblock %}

{% block main %}
    <div id='layer-mainArticles'>
        <div id='mainArticles'>
        {% for mainArticle in mainArticles %}
            <div class='container-mainArticle {% if forloop.counter0 == 0 %} deploy {% endif %}'>
                <a class='mainArticle' href='//{{ mainArticle.site.domain }}{{ mainArticle.get_absolute_url }}'>
                    <div class='container-caption'>
                        <div class='caption-bg' style='background-image:url("{{ MEDIA_URL }}{% thumbnail mainArticle.featured_image 1200 400 %}")'>
                        </div>
                        <div class='caption-screen'>
                            <h2 class='caption-title small'>
                                {{ mainArticle.title|capfirst }}
                                <span class='label {{ mainArticle.extension_site.css_class }}'>
                                    {{ mainArticle.site.name }}
                                </span>
                            </h2>
                            <h2 class='caption-title big'>
                                {{ mainArticle.title|capfirst }}
                                <span class='label {{ mainArticle.extension_site.css_class }}'>
                                    {{ mainArticle.site.name }}
                                </span>
                            </h2>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>

    <div class='container text-center'>
        <div class='col-sm-12 col-md-12 col-lg-8 col-lg-offset-2'>
            <h2 id='baseline'>
                Le magazine n°1 en France en papeterie, fourniture de bureau, consommables, loisirs créatifs ...
            </h2>
        </div>

        {% for blogPost in last_blogPosts %}
            <a class='bloc_article col-lg-4 col-md-4 col-sm-4 col-xs-6 {{ blogPost.extension_site.css_class }}' href='//{{ blogPost.site.domain }}{% url "blog_post_detail" blogPost.slug %}'>
                <div class='label'>
                    {% if blogPost.site.name == "LA LETTRE"%}
                        Abonnés à 
                    {% endif %}
                    {{ blogPost.site.name|title }}
                </div>
		<div class='date'>{{ blogPost.created|date:"d/m/Y" }}</div>
                <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail blogPost.featured_image 300 200 %}' alt='illustration {{ blogPost.title }}' />
                <div class='bloc_article_title'>
                    <h4><i class='fa fa-arrow-right'></i> {{ blogPost.title|truncatechars:60 }}</h4>
                    <div class='blogPost-caption'>{{ blogPost.description_from_content|safe|striptags|truncatechars:110 }}</div>
                </div>
            </a>
            {% if forloop.counter == 2 %}
                {% if banners.0 %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.0.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.0.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 3 %}
                {% if banners.0 %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.0.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.0.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 8 %}
                {% if banners.1.title %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.1.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.1.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 9 %}
                {% if banners.1.title %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.1.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.1.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 14 %}
                {% if banners.2.title %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.2.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.2.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 15 %}
                {% if banners.2.title %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.2.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.2.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

