{% extends "base.html" %}
{% load pages_tags blog_tags mezzanine_tags keyword_tags i18n staticfiles custom_tags %}
{% block meta_keywords %}
    keywords
{% endblock %}
{% block meta_description %}
    meta_description
{% endblock %}
{% block meta_title %}PAPIERCARTON{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class='col-md-8'>
            <div id='reportage'>
                <h4>
                    <strong style='color:#B60513;'>
                        Le dossier de la semaine
                    </strong>:
                    <span style='font-size:16px; color:#333;'>
                        <i class='fa fa-camera-retro' style='color:#333;'></i>
                        {{ reportage.title }}
                    </span>
                </h4>
                <div id='slider-mask'>
                    <div id='slider-layer'>
                        <div id='slider'>
                            <!-- UNIVERS -->
                            {% for element in reportage.inlines %}
                            <div class='slider-item'>
                                <img src='{{ MEDIA_URL }}{% thumbnail element.image 0 300 %}' alt="illustration carousel"/>
                                {% if element.description %}
                                <div class='slider-item-caption'>
                                    <p>{{ element.description|truncatechars:150 }}</p>
                                </div>
                                {% endif %}
                            </div>
                            {% endfor %}
                            <!-- UNIVERS -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a id='slider-control-left' class='slider-control' href="javascript:void(0);">
                        <btn class='fa fa-chevron-left'></btn>
                    </a>
                    <a id='slider-control-right' class='slider-control' href="javascript:void(0);">
                        <btn class='fa fa-chevron-right'></btn>
                    </a>
                </div>
            </div>

            <div id='free_articles'>
                <a href='//{{ last_sommaire.site.domain }}{{ last_sommaire.get_absolute_url }}'>
                    <div class='blogPost'>
                        <div class='blogPost_illustration'>
                            <img src='{{ MEDIA_URL }}{% thumbnail last_sommaire.featured_image 100 150 %}' alt='illustration article' />
                        </div>
                        <div class='blogPost_caption {% if last_sommaire.featured_image %}half{% endif %}'>
                            <h3>
                                <b style='color:#007099;'>SOMMAIRE</b> <i class='fa fa-chevron-right'></i>
                                {{ last_sommaire.title|capfirst }}
                            </h3>
                            <div class='date'>{{ last_sommaire.created|date:"d.m.Y" }}</div>
                            <p>{% if last_sommaire.featured_image %}{{ last_sommaire.description_from_content|safe|striptags|truncatechars:125 }}{% else %}{{ last_sommaire.description_from_content|safe|striptags|truncatechars:175 }}{% endif %}</p>
                        </div>
                    </div>
                </a>
                {% for blogPost in free_blogPosts %}
                <a href='//{{ blogPost.site.domain }}{% url "blog_post_detail" blogPost.slug %}'>
                <div class='blogPost {{ blogPost.extension_site.css_class }}'>
                    {% if blogPost.featured_image %}
                        <div class='blogPost_illustration'>
                            <img src='{{ MEDIA_URL }}{% thumbnail blogPost.featured_image 100 150 %}' alt='illustration article' />
                        </div>
                    {% endif %}
                    <div class='blogPost_caption {% if blogPost.featured_image %}half{% endif %}'>
                        <h3><i class='fa fa-chevron-right' style='color: {{ blogPost.extension_site.color }}'></i> {{ blogPost.title|capfirst }}</h3>
                        <div class='date'>{{ blogPost.created|date:"d.m.Y" }}</div>
                        {% if blogPost.categories.first %}
                        <div class='categories'>
                            {{ blogPost.categories.first }}
                        </div>
                        {% endif %}
                        <p>{% if blogPost.featured_image %}{{ blogPost.description_from_content|safe|striptags|truncatechars:125 }}{% else %}{{ blogPost.description_from_content|safe|striptags|truncatechars:175 }}{% endif %}</p>
                    </div>
                </div>
                </a>
                {% endfor %}
            </div>
        </div>
        <div id='premium' class='col-md-4'>
            <a href=''>
                <div class='text-center' style='height:150px; margin: 40px 0 20px 0; background:url("{% static "img/redirect_transfoplus.jpg" %}") center center no-repeat; overflow:hidden; border:1px solid rgb(220,220,220);'>
                </div>
            </a>
            <div style='padding:10px; background-color:#FEC10D; border:1px solid rgb(230,230,230);'>
                <h3 class='text-center' style='color:white;'>Espace Abonnés</h3>
                {% for blogPost in restricted_blogPosts %}
                    <div class='blogPost {{ blogPost.extension_site.css_class }}'>
                        <a href='//{{ blogPost.site.domain }}{% url "blog_post_detail" blogPost.slug %}'>
                        <div class='blogPost_caption'>
                            <h3 {% if blogPost.featured_image %}class='half'{% endif %}>
                                <i class='fa fa-chevron-right'></i> {{ blogPost.title }}
                            </h3>
                            {% if blogPost.featured_image %}
                                <img src='{{ MEDIA_URL }}{% thumbnail blogPost.featured_image 80 80 %}' alt='illustration article' />
                            {% endif %}
                            <div class='date'>{{ blogPost.created|date:"d.m.Y" }}</div>
                            {% if blogPost.categories.first %}
                            <div class='categories'>
                                {{ blogPost.categories.first }}
                            </div>
                            {% endif %}
                            <p>{{ blogPost.description_from_content|safe|striptags|truncatechars:90 }}</p>
                        </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


