{% extends "base.html" %}
{% load pages_tags blog_tags mezzanine_tags keyword_tags i18n staticfiles %}
{% block meta_keywords %}
    magazine, spécialiste, papeterie, fournitures, consommables, loisirs créatifs, innovation, actualités
{% endblock %}
{% block meta_description %}
    Le magazine PNP Papetier vous informe sur toute l'actualité du secteur de la papeterie, fournitures de bureau, consommables et loisirs créatifs. 
{% endblock %}
{% block meta_title %}PNP Papetier, magazine spécialiste de la papeterie{% endblock %}

{% block main %}
<div class='container'>
    <div class='row'>
        <div class='col-md-7'>
            <div id='reportage'>{{ reportage.title }}
                {% for pic in reportage.inlines %}
                    {{ pic.image }} <br /> {{ pic.description }}
                {% endfor %}
            </div>
            <div id='free_articles'>
                {% for blogPost in last_blogPosts %}
                <div class=''>
                    <h3>{{ blogPost.title }}</h3>
                    <p>{{ blogPost.description_from_content|safe|striptags|truncatechars:110 }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class='col-md-5'>
            <div>
                {% for blogPost in restricted_blogPosts %}
                    <h3>{{ blogPost.title }}</h3>
                    <p>{{ blogPost.description_from_content|safe|striptags|truncatechars:110 }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


