{% extends "base.html" %}
{% load i18n pages_tags mezzanine_tags blog_tags keyword_tags staticfiles %}

{% block meta_keywords %}
    {% if request.get_host == 'lalettre.papiercarton.com' %}
        magazine, actualités, spécialiste, économie, distributeurs, fournisseurs, marketing, mouvement, évènement
    {% else %}
        magazine, actualités, spécialiste, papeterie, bureautique, fournitures de bureau
    {% endif %}
{% endblock %}

{% block meta_description %}
    {% if request.get_host == 'lalettre.papiercarton.com' %}
        Toute l’actualité du secteur de la papeterie, de la bureautique, des fournitures de bureau et des consommables.
    {% else %}
        Avec le magazine PNP, retrouvez l'actualité du secteur de la papeterie, bureautique et fournitures de bureau.
    {% endif %}
{% endblock %}


{% block meta_title %}
    {% if request.get_host == 'lalettre.papiercarton.com' %}
        La Lettre PNP, l’actualité du métier en temps réel
    {% else %}
        Magazine PNP, le magazine spécialiste du secteur du papier
    {% endif %}
{% endblock %}


    {% block extra_edited_css %}
    <style>
        {% for site in all_sites %}
        {% if site.domain == request.get_host %}
            #contentNav{
                margin-bottom: 0;
            }
            #logo_blog.{{ site.css_class }}{
                background-color: {{ site.color }};
            }
            #baseline.{{ site.css_class }}{
                color: {{ site.color }};
            }
            .bloc_article h3{
                color: {{ site.color }};
            }.bloc_article h3 i{
                color: {{ site.color }};
            }.bloc_article h3 .date{
                color: #777;
            }
            .bloc_article .categories{
                color: #007099;
            }
        {% endif %}
        {% endfor %}
    </style>
    {% endblock %}

{% block extra_js %}
{% endblock %}

{% block main %}
    {% for site in all_sites %}
    {% if site.domain == request.get_host %}
    <div id='logo_blog' class='{{ site.css_class }} text-center'>
        <img src='{{ MEDIA_URL }}SITES/banner/{{ site.img_banner }}' alt='logo site' />
    </div>
    <div class='container'>
        <div class='col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0'>
            <h2 id='baseline' class='text-center {{ site.css_class }}'>
                {{ site.baseline }}
            </h2>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class='container'>
        {% if tag or category or year or month or author %}
            {% block blog_post_list_filterinfo %}
            <p>
            {% if tag %}
                {% trans "Viewing posts tagged" %} {{ tag }}
            {% else %}{% if category %}
                {% trans "Viewing posts for the category" %} {{ category }}
            {% else %}{% if year or month %}
                {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
                {{ year }}
            {% else %}{% if author %}
                {% trans "Viewing posts by" %}
                {{ author.get_full_name|default:author.username }}
            {% endif %}{% endif %}{% endif %}{% endif %}
            {% endblock %}
            </p>
        {% else %}
            {% if page %}
            {% block blog_post_list_pagecontent %}
            {% if page.get_content_model.content %}
                {% editable page.get_content_model.content %}
                {{ page.get_content_model.content|richtext_filters|safe }}
                {% endeditable %}
            {% endif %}
            {% endblock %}
            {% endif %}
        {% endif %}

        {% for blog_post in blog_posts.object_list %}
            <a class='bloc_article col-md-12' 
                href='//{{ blog_post.site.domain }}{% url "blog_post_detail" blog_post.slug %}' >
                <div class='bloc_article_title'>
                    <h3>
                        <div class='date'>{{ blog_post.created|date:"d/m/Y" }}</div>
                        <i class='fa fa-arrow-right'></i>
                        {{ blog_post.title|truncatechars:120 }}
                    </h3>
                    {% if blog_post.categories.all|length > 0 %}
                        {% with blog_post.categories.all as categories %}
                            <div class='categories'>
                            {% if categories %}
                                {{ categories.first }}
                            {% elif blog_post.archive %}
                                archives
                            {% endif %}
                            </div>
                        {% endwith %}
                    {% endif %}
                    <div class='blogPost-caption'>{{ blog_post.description_from_content|safe|striptags|truncatechars:300 }}</div>
                </div>
                {% if blog_post.featured_image %}
                    <img class='img-thumbnail' src='{{ MEDIA_URL }}{% thumbnail blog_post.featured_image 0 200 %}' alt='illustration {{ blog_post.title }}' />
                {% endif %}
            </a>
            {% if forloop.counter == 2 %}
                {% if banners.0 %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.0.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.0.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 3 %}
                {% if banners.0 %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.0.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.0.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 8 %}
                {% if banners.1.title %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.1.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.1.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 9 %}
                {% if banners.1.title %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.1.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.1.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 14 %}
                {% if banners.2.title %}
                    <div class='layer-banner layer-banner-mobile col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.2.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.2.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% elif forloop.counter == 15 %}
                {% if banners.2.title %}
                    <div class='layer-banner col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1'>
                        <a href='{{ banners.2.lien }}' target='blank'>
                            <div class='container-banner'>
                                <img src='/static/media/publicite/{{ banners.2.media }}' />
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% pagination_for blog_posts %}

        {% if settings.COMMENTS_DISQUS_SHORTNAME %}
            {% include "generic/includes/disqus_counts.html" %}
        {% endif %}
    </div>
{% endblock %}

{% block right_panel %}
{% include "blog/includes/filter_panel.html" %}
{% endblock %}


