@charset "UTF-8";

body{
    background-color: rgb(244,244,247);
    font-family: 'Open Sans', sans-serif;
}
a,a:hover{
    text-decoration: none;
    color: #333;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: 'Open Sans', sans-serif;
}
h4{
    font-size: 14px;
}
strong{
    color: #007099;
}
.fa.fa-paper-plane{
    color:#FEC10D;
}


#banner_layer{
    position: relative;
    z-index: 9;
    overflow: hidden;
    max-height: 150px;
}#banner_layer img{
    width: 100%;
}



#layer-mainArticles{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
#mainArticles{
    position: relative;
    left:0%;
    width: 140%;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
#mainArticles.left{
    left: -35%;
}
.container-mainArticle{
    overflow: hidden;
    display: inline-block;
    position: relative;
    top: 0;
    left: 0px;
    width: 48%;
    height: 350px;
    background-color: rgb(50,50,60);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.container-mainArticle:last-child{
    left: -10px;
}
.container-mainArticle.deploy{
    width: calc(52% - 6px);
}

.mainArticle .caption-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    -moz-transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}.deploy .mainArticle .caption-bg{
    background-color: transparent;
}

.caption-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}.deploy .caption-screen{
    background-color: transparent;
}
.caption-title{
    position: absolute;
    bottom: 5%;
    width: 60%;
    vertical-align: bottom;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px 4px rgba(0,0,0,.8);
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
.caption-title.small{
    right: 65%;
    max-width: 30%;
    font-size: 18px;
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.deploy .caption-title.small{
    right: -100%;
}
.first .caption-title.small{
    left: 65%;
    text-align: right;
}.deploy .first .caption-title.small{
    left: -100%;
}
.caption-title.big{
    left: 200%;
    font-size: 28px;
}.deploy .caption-title.big{
    left: 10%;
}
.first .caption-title.big{
    left: -100%;
}.deploy .first .caption-title.big{
    left: 10%;
}



#baseline{
    margin-top: 40px;
    padding: 0 20px;
    border-left: 1px solid rgb(230,230,240);
    border-right: 1px solid rgb(230,230,240);
    font-size: 21px;
    color: #777777;
}

.bloc_article{
    margin: 15px 0;
    vertical-align: top;
}
.bloc_article:hover .img-thumbnail{
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
.bloc_article img{
    min-width: 100%;
}
.date{
    position: absolute;
    top: 3px;
    left: 19px;
    padding: 4px 8px;
    background-color: rgba(255,255,255,.9);
    border-radius: 4px;
    font-size: 10px;
}
.bloc_article_title{
    overflow: hidden;
    height: 84px;
    padding: 0 10px;
}
.bloc_article_title h4{
    height: 2em;
    padding: 0 5px;
    font-weight: 600;
    color: #004b66;
}
.blogPost-caption, .blogPost-caption:hover,
.blogPost-caption:visited, .blogPost-caption:active, .blogPost-caption strong{
    text-align: left;
    text-decoration: none;
    color: #777;
    font-weight: normal;
    font-size: 12px;
}
.bloc_article .label{
    position: absolute;
    z-index: 2;
    top: -5px;
    right: 0px;
    padding: 8px;
    opacity: .9;
    border: 2px solid;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}.bloc_article:hover .label{
    opacity: 1;
}

.layer-banner-mobile{
    display: none;
}
.layer-banner{
    overflow: hidden;
    max-height: 0px;
    height: auto;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.layer-banner.deploy{
    max-height: 200px;
}
.container-banner{
    overflow: hidden;
    padding: 2px 0 20px 0;
}
.container-banner img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}


/*
 blog
*/
#logo_blog{
    width: 100%;
    height: 145px;    
    margin: 0;
    background-color: rgba(0,112,153,.9);
}
#logo_blog img{
    max-height: 100%;
}
#illustration{
    position: relative;
    overflow: hidden;
    max-height: 300px;
}
#illustration img{
    width: 100%;
    height: auto;
}#illustration img.blockResize{
    height: 100%;
    width: auto;
    margin: auto;
}

#blogTitle{
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}
#blogContent{
    padding: 20px 0;
}
#richTextZone{
    padding: 20px 0 100px 0;
}
#richTextZone img{
    display: block;
    height: auto;
    max-width: 100%;
    padding: 10px 0;
    margin: auto;
}
#richTextZone a{
    color: #007099;
}

#bottom-logo{
    margin-top: 20px;
    text-align: center;
}
#bottom-logo img{
    position: relative;
    top: 20px;
    height: 40px;
}
footer{
    padding: 40px 0 10px 0;
    background-color: rgb(250,250,250);
}
.nav-footer{
    text-align: center;
}
.nav-footer ul{
    display: inline-block;
    margin: 5px 10px;
}
.nav-footer ul a{
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    color: #007099;
}.nav-footer ul a:hover{
    color: white;
    background-color: #007099;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


@media screen and (max-width: 768px){
    #layer-mainArticles, .container-mainArticle, .container-maiArticle.deploy{
        height: 200px;
    }
    .mainArticle .caption-bg{
        background-size: auto 200px;
    }.deploy .mainArticle .caption-bg{
        background-size: auto 200px;
    }
    .caption-title.big{
        font-size: 16px;
        font-weight: normal;
    }
    .caption-title.small{
        font-size: 12px;
        font-weight: normal;
    }
    #baseline{
        margin-top: 30px;
        font-size: 14px;
    }

    #illustration{
        max-height: 150px;
    }
    #illustration img{
    }

    .bloc_article{
        display: inline-block;
    }
    .bloc_article img{
        width: auto;
        min-width: 50px; 
    }
    .bloc_article .label{
        padding: 4px;
    }

    #blogTitle{
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 16px;
    }
    #richTextZone{
        padding: 20px 10px 40px 10px;
    }
}
@media screen and (max-width: 767px){
    .layer-banner{
        display: none;
    }
    .layer-banner-mobile{
        display: block;
    }
}
@media screen and (max-width: 568px){
    /* place after to override */
    #layer-mainArticles, .container-mainArticle, .container-maiArticle.deploy{
        height: 150px;
    }
    .mainArticle .caption-bg{
        background-size: auto 150px;
    }.deploy .mainArticle .caption-bg{
        background-size: auto 150px;
    }
    #illustration{
        max-height: 120px;
    }
    #illustration img{
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    #layer-mainArticles, .container-mainArticle, .container-maiArticle.deploy{
        height: 250px;
    }
    .mainArticle .caption-bg{
        background-size: auto 250px;
    }.deploy .mainArticle .caption-bg{
        background-size: auto 250px;
    }
    .caption-title.big{
        font-size: 22px;
    }
    .caption-title.small{
        font-size: 14px;
    }

    #baseline{
        margin-top: 35px;
        font-size: 18px;
    }

    #illustration{
        max-height: 250px;
    }
    #illustration img{
    }

    .bloc_article{
        display: inline-block;
    }
    .bloc_article img{
        width: auto;
        min-width: 100px; 
    }
    .bloc_article .label{
        padding: 5px;
    }

    #blogTitle{
        margin-top: 22px;
        margin-bottom: 22px;
        font-size: 20px;
    }
}
@media screen and (max-width: 991px){
    .bloc_article_title{
        height: 70px;
    }
    .blogPost-caption{
        display: none;
    }
}
@media screen and (min-width: 1200px){
    #layer-mainArticles, .container-mainArticle, .container-maiArticle.deploy{
        height: 400px;
    }
    .mainArticle .caption-bg{
        background-size: auto 400px;
    }.deploy .mainArticle .caption-bg{
        background-size: auto 400px;
    }
}
