@charset "UTF-8";


.fa{
    color: #007099;
}


#abonnement{
    position: absolute;
    z-index: 8; /* -1 compared to .navbar-header [see bootstrap.override.css] */
    display: inline-block;
    width: auto;
    padding: 2px 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.3);
    background-color: #FEC10D;
    text-align: center;
    color: white;
    -moz-transition: top 0.9s ease-out;
    -webkit-transition: top 0.9s ease-out;
    -o-transition: top 0.9s ease-out;
    transition: top 0.9s ease-out;
}

.navbar-brand{
    padding: 0 15px;
}
.navbar-brand img{
    height: 62px;
}
.nav li.dropdown-custom{
    position: initial;
}
.navbar-default .navbar-nav > .active > a{
    /*font-weight: bold;*/
    color: #777;
}


.navbar-nav > li.dropdown-custom > a, .navbar-nav > li.open.dropdown-custom > a{
    min-width: 70px;
    padding: 20px 30px;
    border-bottom: 4px solid;
    border-color: rgb(0,112,153);
    height: 77px;
    overflow: hidden;
}
.navbar-nav > .dropdown-custom > a, .navbar-nav > .dropdown-custom.open > a{
    border-color: rgb(0,112,153);
}

.navbar-default .navbar-nav > .dropdown-custom.open > a, .navbar-default .navbar-nav > .dropdown-custom.open > a:hover, .navbar-default .navbar-nav > .dropdown-custom.open > a:focus{
    background-color: rgb(0,112,153);
    color: white;
}

.dropdown-menu-custom{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding: 25px 0 15px 0;
    box-shadow: none;
    background-color: rgb(240,240,240);
}

.dropdown-sub{
    display: inline-block;
    vertical-align: top;
}

.dropdown-category{
    vertical-align: top;
    padding: 0 15px 0 5px;
    margin-left: -15px;
}
.dropdown-category>a{
    display: block;
    width: 110px;
    padding: 2px 5px;
    color: #004b66;
}
.dropdown-category>a>i{
    display: inline-block;
    margin-right: 3px;
}
.last_news{
    padding: 0 0 5px 0;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
}.last_news i{
    float: right;
    position: relative;
    top: 3px;
}
.last_news, .dropdown-category a:hover, .highlight-box:hover a{
    color: rgb(0,112,153);
}

.site_title{
    margin-bottom: 5px;
    font-weight: 600;
}.active .site_title{
    color: white;
}
.site_sub_title{
    letter-spacing: 1.5px;
    font-size:12px;
    color: rgb(0,112,153);
}
.dropdown-highlights{
    width: 70%;
}
.sub_univ_PNP{
    display: inline-block;
    width: 170px;
    text-align: center;
}


.highlight-box{
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    width: calc(33% - 5px);
    padding: 0 10px 0 0;
}
.highlight-box img{
    max-width: 100%;
}
.PNP .highlight-box a{
    color: rgb(0,112,153);
}
.PNS .highlight-box a{
    color: rgb(171,60,111);
}
.highlight-box .caption{
    font-size: 13px;
    font-weight: 300;
}

.dropdown-logo{
    width: calc(30% - 140px);
}
.dropdown-logo img{
    width: 100%;
}



/*
    from bootstrap.override.css
*/
#contentNav{
    position: relative;
    z-index: 9;
    margin-bottom: 50px;
    border-bottom: none;
}
.navbar{
    margin: 0;
    border-top: none;
    border-radius: 0;
}
.navbar-default{
    background-color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    /*color: white;*/
    color: #777;
}

.navbar-header{
    position: relative;
    z-index: 8;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    border-color: transparent;
}

.dropdown-menu{
    border-radius: 0;
    border: none;
    background-color: rgb(242,242,242);
}
.dropdown-menu > li{
    padding: 7px 4px;
    border-bottom: 1px solid #e5e5e5;
}
.dropdown-menu > li:hover, .dropdown-menu > li:focus{
    background-color: white;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    background-color: white;
    color: #007099;
}


#contentNav .navbar-form{
    position: absolute;
    z-index: 9;
    padding: 0;
    margin: 0;
}
#contentNav .form-group{
    position: relative;
}
#contentNav .form-group .fa-close{
    position: absolute;
    right: 0;
    padding: 5px;
    background-color: #007099;
    border-radius: 0 0 0 2px;
    color: white;
}
#contentNav .navbar-form .form-group .form-control{
    border-radius: 0;
    font-size: 22px;
    color: #007099;
}
/*
    ./ from bootstrap.override.css
*/




/*
    NAVBAR-RIGHT (regular navbar)
*/

.dropdown > a, .dropdown.open > a, 
.dropdown > a:hover, .dropdown.open > a:hover, 
.navbar-nav > li.dropdown > a, .navbar-nav > li.dropdown.open > a{
    padding: 23px 25px;
    background-color: white;
}
.dropdown a.dropdown-toggle img{
    height: 30px;
    /*width: calc(33% - 5px);*/
}
.dropdown .dropdown-menu>li>a{
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    white-space: nowrap;
}
.mobileTitle{
    display: none;
    color: #007099;
}
/*
    ./NAVBAR-RIGHT
*/





@media screen and (max-width: 768px){

    .navbar-nav > li > a, .navbar-nav > li.open > a{
        min-width: 25px;
        padding: 15px 10px;
    }
    .dropdown-custom .dropdown-menu, .dropdown-custom.open > .dropdown-menu{
        display: none;
    }
    .dropdown-category{
        width: 100%;
    }
    .dropdown-category>a{
        width: auto;
        padding: 4px 8px;
    }
    .last_news{
        display: none;
    }
    .dropdown-highlights{
        display: none;
    }
    .dropdown-logo{
        display: none;
    }
    .mobileTitle{
        display: inline-block;
    }

}
@media screen and (min-width: 768px) and (max-width: 991px){

    .navbar-brand{
        padding: 0;
    }

    .navbar-brand img{
        height: 50px;
        margin-top: 15px;
    }
    .dropdown > a, .dropdown.open > a, 
    .dropdown > a:hover, .dropdown.open > a:hover, 
    .navbar-nav > li.dropdown > a, .navbar-nav > li.dropdown.open > a{
        padding: 23px 12px;
    }
    .navbar > li.dropdown-custom > a, .navbar > li.dropdown-custom.open > a{
        padding: 25px 15px;
        border-bottom: 2px solid;
    }

    .dropdown-category{
        width: 170px;
    }

    .dropdown-highlights{
        width: 60%;
    }
    .highlight-box{
        width: calc(50% - 5px);
    }

    .dropdown-logo{
        width: calc(40% - 170px);
    }

}
@media screen and (min-width: 991px) and (max-width: 1200px){
    .navbar-brand img{
        margin-top: 8px;
    }
    .dropdown > a, .dropdown.open > a, 
    .dropdown > a:hover, .dropdown.open > a:hover, 
    .navbar-nav > li.dropdown > a, .navbar-nav > li.dropdown.open > a{
        padding: 23px 20px;
        background-color: white;
    }
}
@media screen and (min-width: 1200px){

    .navbar-brand img{
        height: 77px;
    }

    .navbar-nav > .dropdown-custom > a, .navbar-nav > .dropdown-custom.open > a{
        padding: 27px 36px;
    }
    .navbar-nav > .dropdown-custom > a.site, .navbar-nav > .dropdown-custom.open > a.site{
        padding: 27px 36px 0 26px;
    }


    .dropdown-category a{
        width: 140px;
    }

    .dropdown-logo{
        width: calc(30% - 170px);
    }

}