{% extends "login_base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}
{% load custom_tags %}
{% load bootstrap3 %}

{% load i18n %}

{% block meta_title %}
{% trans "Page not found" %}
{% endblock %}

{% block title %}
{% trans "Page not found" %}
{% endblock %}

{% block main %}
<div class='container'>
    <div class='row' style='margin-top:40px;'>
        <div class='col-md-12'>
            <div class="panel panel-danger">
                <div class="panel-heading"><h3 class="panel-title">{% trans "Page not found" %}</h3></div>
                <div class="panel-body">{% trans "The page you requested does not exist." %}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}