{% extends "pages/page.html" %}

{% load mezzanine_tags %}


{% block title %}

{% endblock %}

{% block main %}{{ block.super }}

    <div class='container'>
        <div class='row'>
            <div id='richTextZone' class='col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0'>
                <h2 class='text-center'style='margin-bottom:30px; border-bottom: 1px solid rgb(230,230,230); color:#007099; font-weight:bold;'>{{ page.title }}</h2>
                {% editable page.richtextpage.content %}
                {{ page.richtextpage.content|richtext_filters|safe }}
                {% endeditable %}
            </div>
        </div>
    </div>

{% endblock %}
